<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <h2>Preguntas</h2>

    <p><img src = "http://cdn.lowgif.com/full/609f1933c6e060d4-.gif" width = "500" height = "250"></p>

    <h4>Elabora un diagrama y explica cómo funciona AJAX.</h4>
    <p>El diagrama se encuentra en la carpeta imagenes.</p>

    <h4>¿Qué alternativas a jQuery existen?</h4>
    <li>XUI.</li>
    <li>Umbrella JS.</li>
    <li>140medley.</li>
    <li>Snack Js.</li>
    <li>Sizzle.</li>
    <li>Zepto Js.</li>
    <li>Qwery.</li>
    <li>$dom.</li>
    <li>BackboneJS.</li>
    <li>ReactJS.</li>

    <h4>¿Qué es una promesa en js?</h4>
    <p>Es un objeto que representa la terminación de una operación asíncrona.</p>

    <h4>¿Cómo funcionan async y await?</h4>
    <p>Async funciona para que la función siempre devuelva una promesa y await hace que la ejecución de una función async sea pausada hasta que una promise sea terminada.</p>

</main>
<br>

<%- include('partials/footer.ejs') %>