<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <h2>Preguntas</h2>

    <p><img src = "http://cdn.lowgif.com/full/609f1933c6e060d4-.gif" width = "500" height = "250"></p>

    <h4>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h4>
    <p>Es el cual permite que la interacción del usuario con la aplicación suceda asincrónicamente.</p>

    <h4>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h4>
    <p>La restricción de ejecución de todo código de JavaScript a un entorno de ejecución limitado y prácticamente sin recursos ni permisos para realizar tareas básicas. Las validaciones de seguridad se deben de hacer de los dos lados del lado del cliente y del lado del servidor, pero si solo elegimos una seria del lado del servidor.</p>

    <h4>¿Qué es JSON?</h4>
    <p>Es un formato de texto sencillo para el intercambio de datos.</p>

</main>
<br>

<%- include('partials/footer.ejs') %>