<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <p><img src = "https://static0.cbrimages.com/wordpress/wp-content/uploads/2020/06/Pokemon-Journeys-Pichu.jpg" width = "500" height = "250"></p>

       <h2>Preguntas</h2>

       <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
       <p>El gran beneficio que posee el estilo MVC es que permite modificar cada uno de ellos sin necesidad de modificar los demás.</p>

       <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
       <p>La gran desventaja que posee el estilo arquitectónico MVC es que necesita una mayor dedicación en los tiempos iniciales del desarrollo.</p>

</main>

<%- include('partials/footer.ejs') %>