<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <h2>Preguntas</h2>

    <p><img src = "http://cdn.lowgif.com/full/609f1933c6e060d4-.gif" width = "500" height = "250"></p>

    <h4>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h4>
    <p>La ventaja, es que si se quiere borrar todo el contenido de la tabla, es mucho más rápido, especialmente si la tabla es muy grande.</p>

    <h4>¿Qué es SQL injection y cómo se puede prevenir?</h4>
    <p>SQL injection se efectua en aquellas páginas o aplicaciones que presenten esta vulnerabilidad le permiten al atacante crear contenido de entrada y, una vez enviados comienzan a ser ejecutados en la base de datos. Se pueden prevenir usando listas blancas, utilizando las últimas tecnologías, emplear mecanismos verificados y escaneos regulares.</p>

</main>

<%- include('partials/footer.ejs') %>