<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <p><img src = "https://static0.cbrimages.com/wordpress/wp-content/uploads/2020/06/Pokemon-Journeys-Pichu.jpg" width = "500" height = "250"></p>

       <h2>Preguntas</h2>

       <h4>¿Qué otros templating engines existen para node?</h4>
       <p><strong>Pug: </strong>Es un motor de plantillas enfocado en hacer mas rápida la codificación de Html.</p>
       <p><strong>Handlebars: </strong>Sirve para generar HTML a partir de objetos con datos en formato JSON.</p>
       <p><strong>Cross-Site Scripting (XXS): </strong>Es una técnica de ataque popular en Internet en la que el código malicioso se ejecuta tanto en el lado del servidor como en el del cliente, con el fin de robar datos sensibles o identidades digitales.</p>
  
</main>

<%- include('partials/footer.ejs') %>