<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <h2>Preguntas</h2>

    <p><img src = "http://cdn.lowgif.com/full/609f1933c6e060d4-.gif" width = "500" height = "250"></p>

    <h4>¿Qué otras formas de autentificación existen?</h4>
    <li>Identificador y contraseña.</li> 
    <li>Identificador y OTP</li>
    <li>El Token USB o tarjeta inteligente PKI</li>  
    <li>La Llave “Confidencial Defensa”</li>
    <li>La tarjeta inteligente con identificador y contraseña</li>
    <li>Las soluciones biométricas</li> 
    <li>El RFID Activo</li> 

</main>
<br>

<%- include('partials/footer.ejs') %>