<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Laboratorio 14</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if (isLoggedIn) { %>
      <li><a href="/users/logout">Cerrar sesión</a></li>
      <% } %>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <% if (isLoggedIn) { %>
      <li class="tab"><a href="/personajes">Pokédex</a></li>
      <li class="tab"><a href="/personajes/nuevo-personaje">Nuevo pokémon</a></li>
      <li class="tab"><a href="/tipos">Tipos</a></li>
      <li class="tab"><a href="/tipos/nuevo-tipo">Videojuegos</a></li>
      <li class="tab"><a href="/preguntas">Preguntas</a></li>
      <% } %>
    </ul>
  </div>
</nav>