<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Laboratorio 12</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/personajes">Personajes</a></li>
        <li><a href="/personajes/nuevo-personaje">Nuevo personaje</a></li>
        <li><a href="/tipos">Tipos</a></li>
        <li><a href="/tipos/nuevo-tipo">Nuevo tipo</a></li>
        <li><a href="/preguntas">Preguntas</a></li>
      </ul>
    </div>
</nav>