<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
  
    <h2>Preguntas</h2>

    <p><img src = "http://cdn.lowgif.com/full/609f1933c6e060d4-.gif" width = "500" height = "250"></p>

    <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
    <p>El gran beneficio que posee el estilo MVC es que permite modificar cada uno de ellos sin necesidad de modificar los demás.</p>

    <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
    <p>La gran desventaja que posee el estilo arquitectónico MVC es que necesita una mayor dedicación en los tiempos iniciales del desarrollo.</p>

</main>

<%- include('partials/footer.ejs') %>